<div class="image-background product-bg-1">
  <div class="darken">
    <div class="row">
      <h1>Local products delivered to you</h1>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="row">
  <% @produces.each do |produce| %>
    <div class="product small-4 columns">
      <%= image_tag("product-image-home.jpg", :alt => "product") %>
      <h3><%= produce.title %></h3>
      <h4>$<%= produce.price %>0</h4>
      <p><%= produce.description %></p>
      <%= link_to 'Purchase', produce, { :class => "button"} %>
    </div>
  <% end %>
  </div>
</div>

<div class="green-background">
      <div class="row">
        <div class="small-6 columns">
          <div class="small-4 columns">
            <%= image_tag("product-image-home.jpg", :alt => "product") %>
          </div>
          <div class="small-8 columns">
            <h3>About the Farm</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="small-6 columns">
          <div class="small-4 columns">
            <%= image_tag("product-image-home.jpg", :alt => "product") %>
          </div>
          <div class="small-8 columns">
            <h3>About the Produce</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>   